body {
    font-size: 22px;
}

main {
    font-family: monospace;
}

h1,h2 {
    color: firebrick;
}
p {
    color: purple;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}

