body {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: black;
    margin: 0;
}

li {
    display: inline-block;
    margin-inline: 0.5rem;
}

li a {
    color: #fff;
    text-decoration: none;
}

li a:hover, li a:focus {
    text-decoration: underline;
}
