* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 800px;
    max-height: 400px;
    margin-inline: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
    align-content: center;
}

.box {
    /*min-width: 100px;*/
    height: 100px;
    background-color: black;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
    flex-shrink: 1;
}

.box:nth-child(2) {
    flex-shrink: 2;
}