body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace
}

a {
    color: black;
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: violet;
}

a:active {
    color: goldenrod;
}