body {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.block {
    width: 30vw;
    height: 30vw;
    background-color: blanchedalmond;
    padding: 1rem;
}

.left {
    float: left;
    margin-right: 2rem;
}

.right {
    float: right;
    margin-left: 2rem;
}

.clear {
    clear: both;
}
