body {
    padding: 5% 10%;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace
}

ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: square;
    text-align: center;
    list-style-position: outside;
    color: peru;
    line-height: 1.5;
    /*list-style: square inside;*/
}

ul li:nth-child(even){
    color: black;
}

::marker {
    color: red;
    font-family: fantasy;
    font-size: 1em;
    content: "Only $5 >>";
}