/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --FF: 'Courier New', Courier, monospace;
    --FS: clamp(1.75rem, 3vh, 2.25rem);
    --FS_SM: clamp(1.25rem, 2vh, 1.5rem);
    --FS_XL: 3rem;
    --FS-XL: 3rem;
    
    --BGCOLOR: #475569;
    --ALT_BGCOLOR: #1E293B;
    --RADIAL_COLOR: whitesmoke;
    --LIGHT_COLOR: whitesmoke;
    --DARK_COLOR: black;

    --SQUARE-BGCOLOR: papayawhip;
    --SQUARE-SIZE: max(150px, 20vw);

    --PADDING: 0.5em;
    --SHADOWS: 0 6px 5px -5px var(--DARK_COLOR);
    --BORDERS: 2px solid var(var(--DARK_COLOR));

}

body {
    font: var(--FS) var(--FF);
    min-height: 100vh;

    background-color: var(--BGCOLOR);
    background-image: radial-gradient(var(--RADIAL_COLOR), var(--BGCOLOR));
    display: flex;
    flex-direction: column;
}

header, nav, footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer {
    position: sticky;
    background-color: var(--ALT_BGCOLOR);
    color: var(--LIGHT_COLOR);
}

header {
    top: 0;
}

nav {
    background-color: var(--LIGHT_COLOR);
    color: var(--DARK_COLOR);
    border-bottom: var(--BORDERS);
    box-shadow: var(--SHADOWS);
}

main {
    flex-grow: 1;
    padding: var(--PADDING);
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 300px));
    gap: min(2vw, 20px);
    /*display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;*/
}

main section{
    flex-grow: 1;
    padding: var(--PADDING);
}

main aside {
    background-color: hsla(0, 0%, 20%, 0.8);
    color: var(--LIGHT_COLOR);
    font-size: var(--FS_SM);
    font-style: italic;
    padding: var(--PADDING);
}

.content {
    margin-top: 20px;
}

.tooltip {
    border-bottom: 1px dashed orange;
    position: relative;
}

.tooltip:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -20px;
    white-space: nowrap;
    background-color: var(--DARK_COLOR);
    padding: var(--PADDING);
    border-radius: 25px;
}

a:any-link {
    color: firebrick;
}

a:hover, a:focus {
    filter: brightness(150%)
}

footer {
    bottom: 0;
}

.square--highlight {
    --SQUARE-BGCOLOR: cornflowerblue;
}

.square {
    background-color: var(--SQUARE-BGCOLOR);
    border: var(--BORDERS);
    border-radius: 15px;
    display: grid;
    place-content: center;
    font-size: var(--FS-XL);
    box-shadow: var(--SHADOWS);
}

@media screen and (min-width: 576px) {
    main {
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    main section {
        width: calc(70% - 5px);
    }
    main aside {
        width: calc(30% - 5px);
    }
}

