* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100px;
    background-color: aliceblue;
    background-image:   url(../img/), 
                        linear-gradient(to left,purple, #fff);
}

.container {
    background-color: rgb(251, 210, 156);
    background-image: url('../img/big_tower.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: hsla(0, 0%, 0%, 0.35);

}

.h1 {
    font-size: 500%;
    color: antiquewhite;
    text-shadow: 2px 2px 5px #000;
    /*background-color: #00000014;
    padding: 0.25rem;
    border-radius: 10px;*/
}

.profile-pic-figure {
    width: 20%;
    max-width: 200%;
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
    height: auto;
}